/*
* ----------------------------------------------------------------------------------------
Author       : Onepageboss
Template Name: AISHA Material Design HTML5 Agency Template
Version      : 1.0

   ____                   _____                             ____     ____     _____    _____ 
  / __ \                 |  __ \                           |  _ \   / __ \   / ____|  / ____|
 | |  | |  _ __     ___  | |__) |   __ _    __ _    ___    | |_) | | |  | | | (___   | (___  
 | |  | | | '_ \   / _ \ |  ___/   / _` |  / _` |  / _ \   |  _ <  | |  | |  \___ \   \___ \ 
 | |__| | | | | | |  __/ | |      | (_| | | (_| | |  __/   | |_) | | |__| |  ____) |  ____) |
  \____/  |_| |_|  \___| |_|       \__,_|  \__, |  \___|   |____/   \____/  |_____/  |_____/ 
                                            __/ |                                            
                                           |___/                                             
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.HOMEPAGE CSS STYLE
* 03.ABOUT US CSS STYLE
* 04.SERVICE CSS STYLE
* 05.OUR TEAM CSS STYLE
* 06.WORKS CSS STYLE
* 07.TESTIMONIAL CSS STYLE
* 08.PRICING CSS STYLE
* 09.BLOG CSS STYLE
* 10.MAP CSS STYLE
* 11.CONTACT CSS STYLE
* 12.SINGLE BLOGBLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Neuton', serif;
    letter-spacing: 1px;
    height: 100%;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.2s;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 60px 0
}

.section-title {
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.section-title h2 span {
    color: #00BCD4;
}

a.read-more {
    display: inline-block;
    background: #fff;
    color: #00BCD4;
    padding: 6px 16px;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 10px;
}

a.read-more:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #00BCD4;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 35px;
    cursor: pointer;
    display: none;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 01.PRELOADER CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #00BCD4;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status,
.status-mes {
    background-image: url(../images/preloader.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}


/*
* ----------------------------------------------------------------------------------------
* 01.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
    text-align: center;
}
.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 188, 212, 0.67);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.display-table{
    display: table;
    width: 100%;
    height: 100%;
}
.display-table-cell{
    display: table-cell;
    vertical-align: middle;
}
.welcome-image-area h2 {
    color: #f8f8f8;
    font-size: 40px;
}

.welcome-image-area p {
    color: #f8f8f8;
    margin-bottom: 30px;
}


.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: 1s;
    transition: 1s;
}

.logo a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #F8F8F8;
    letter-spacing: 3px;
}

.mainmenu .navbar-nav li a {
    color: #F8F8F8;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mainmenu ul.nav.navbar-nav li.active:before {
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    position: absolute;
    content: "";
    background: #00BCD4;
}

.navbar {
    margin: 0;
}

.menu-bg {
    background: #fff;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: 1s;
    transition: 1s;
}

.menu-bg .logo a {
    color: #00BCD4;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #333;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

a.slide-btn {
    width: 160px;
    display: inline-block;
    background: #fff;
    color: #00BCD4;
    padding: 10px 10px;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
    border-radius: 3px;
    margin: 0 10px;
}

a.slide-btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/*
* ----------------------------------------------------------------------------------------
* HOME SLIDER VERSION
* ----------------------------------------------------------------------------------------
*/

.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 100%;
}

.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div {
    height: auto;
}

.single-slide-item-table {
    display: table;
    text-align: center;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}

.single-slide-item:after {
    position: absolute;
    background: rgba(0, 188, 212, 0.67);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.slide-1 {
    background: url(../images/bg/bg1.jpg) scroll 0 0;
    background-size: cover;
}

.slide-2 {
    background: url(../images/bg/bg2.jpg) scroll 0 0;
    background-size: cover;
}

.slide-3 {
    background: url(../images/bg/bg3.jpg) scroll 0 0;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.single-slide-item h2 {
    color: #f8f8f8;
    font-size: 40px;
}

.single-slide-item p {
    color: #f8f8f8;
    margin-bottom: 30px;
}

/*
* ----------------------------------------------------------------------------------------
* 02.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.about-us-area{
    padding-top: 120px;
    padding-bottom: 60px;
}
.about-image {
    margin-top: 30px;
}

.about-text {
    margin-top: 30px;
}

.about-text h4 {
    margin-bottom: 18px;
}

.about-text p {
    margin-bottom: 18px;
}


/*
* ----------------------------------------------------------------------------------------
* 03.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-service {
    border: 1px solid rgba(238, 238, 238, 0.65);
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;  
}

.single-service:hover {
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.single-service:hover i {
    color: #00BCD4;
}

.single-service i {
    font-size: 42px;
    line-height: 95px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.single-service p {
    margin-top: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 04.TEAM CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-team {
    border: 1px solid rgba(238, 238, 238, 0.65);
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; 
}

.single-team:hover {
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.single-team img {
    height: 120px;
    margin-bottom: 20px;
}

.single-team h4 {}

.single-team p {
    margin: 20px 0;
}

.single-team ul.team-social {
    padding: 0;
    margin: 0;
    list-style: none''
}

.single-team ul.team-social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.single-team ul.team-social li {
    display: inline-block;
    margin: 0px 2px;
}

.single-team ul.team-social li a {
    display: block;
    height: 30px;
    width: 30px;
    color: #00BCD4;
    border-radius: 50%;
    line-height: 30px;
    border: 1px solid #00BCD4;
}

.single-team:hover.single-team ul.team-social li a {
    background: #00BCD4;
    border: 1px solid #00BCD4;
    color: #fff;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 05.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.work-inner .mix{
    display: none;
}
 ul.work{
    padding: 0;
    list-style: none;
     margin-top: 30px;
     margin-left: 8px;
}

ul.work li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #787980;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

ul.work li:hover {
    color: #00BCD4;
    border: none;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

ul.work li.active {
    border: none;
    color: #00BCDB;
    background-color: #fff;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.work .item {
    margin-top: 30px;
    position: relative;
}

.work .item img {
    width: 100%;
}

.portfolio-caption {
    color: #333333;
}

.portfolio-caption {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.portfolio-caption h4 {
    margin-top: 140px;
}

.work .item:hover .portfolio-caption {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 06.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-list {
    border: 1px solid rgba(238, 238, 238, 0.65);
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.single-testimonial img {
    height: 120px;
}

.single-testimonial h6 {
    margin-top: 20px;
}

.company-logo-area {
    margin-top: 50px;
}

.single-logo {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 07.PRICING CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.pricing-box {
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid rgba(238, 238, 238, 0.5);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pricing-box.active {
    background-color: #ffffff;
    z-index: 9;
    position: relative;
    border: 0;
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.pricing-box:hover {
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.pricing-box.active .plan-price {
    color: #00BCD4;
}

.pricing-box:hover .plan-price {
    color: #00BCD4;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pricing-header .plan-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.pricing-header .plan-price {
    font-size: 42px;
}

.plan-features {
    margin-top: 40px;
    border-top: 1px dotted #ccc;
}

.plan-features li {
    margin: 10px 0;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
}

a.pricing-btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 10px;
    color: #00BCD4;
    font-size: 12px;
    border-radius: 5px;
    border: 1px dotted #00BCD4;
}

.pricing-box:hover a.pricing-btn {
    color: #fff;
    border: 1px dotted #00BCD4;
    background: #00BCD4;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 08.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-blog {
    border: 1px solid rgba(238, 238, 238, 0.65);
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.single-blog:hover {
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
}

.single-blog h4 {
    color: #3F3333;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin: 20px 0px;
}

.single-blog h4:hover {
    color: #00BCD4;
}


/*
* ----------------------------------------------------------------------------------------
* 09.MAP CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.map {
    height: 300px;
    border: 1px solid rgba(238, 238, 238, 0.65);
    margin-top: 30px;
    border-radius: 3px;
}


/*
* ----------------------------------------------------------------------------------------
* 10.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-form {
    background-color: #ffffff;
    border: 1px solid rgba(238, 238, 238, 0.65);
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
}

.contact-form input {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0px;
    font-size: 18px;
}

.contact-form textarea {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 200px;
    border-radius: 0px;
    resize: none;
    font-size: 18px;
}

.contact-form button {
    color: #fff;
    background: #00BCD4;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    font-family: "Montserrat", sans-serif;
}

.contact-form button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.contact-details {
    background-color: #ffffff;
    border: 1px solid rgba(238, 238, 238, 0.65);
    padding: 30px;
    margin-top: 30px;
    border-radius: 3px;
}

.contact-details {}

.single-contact {
    margin-top: 28px;
}

.single-contact i {
    font-size: 20px;
    color: #00BCD4;
}

.contact-details ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-details ul li {}

.contact-details ul li i {
    height: 40px;
    width: 40px;
    text-align: center;
    background: #000;
    padding: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #00BCD4;
    color: #fff;
}


/*
* ----------------------------------------------------------------------------------------
* 11.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-text h1 {
    margin-bottom: 30px;
}

.footer-social-link {}

.footer-social-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-link ul li {
    display: inline-block;
    margin: 0px 3px;
}

.footer-social-link ul li a {
    display: block;
    padding: 10px;
    background: #00BCD4;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
}


/*
* ----------------------------------------------------------------------------------------
* 12.SINGLE BLOG PAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-blog-area {
    height: 300px;
    background: #00BCD4;
}

.single-page-heading-area {
    padding-top: 150px;
}

.single-blog-heading-text h4 {
    color: #f8f8f8;
}

.single-blog-heading-text h4 a {
    color: #f8f8f8;
}

.comment-section {
    margin-top: 30px;
}

.single-blog-details,
.comment-section,
.single-sidebar {
    border: 1px solid rgba(238, 238, 238, 0.65);
    padding: 30px;
    border-radius: 3px;
}

.search input {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-sidebar,
.recent-single {
    margin-bottom: 30px;
}

.single-blog-details h4 {
    margin: 20px 0px;
}

.single-comment {
    margin-bottom: 20px;
}

.single-comment img {
    height: 120px;
}

.recent-single h4 {
    color: #333333;
}

.categories {}

.categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
    color: #333333;
}

.categories ul li a {
    color: #333333;
}